.footer {
  bottom: 3%;
  height: 5vh;
  margin: 1vw 0;
  display: flex;
  padding: 4vh 0 2vh 0;

  .footer-icons {
    display: flex;
    right: 15%;
    position: absolute;

    img {
      height: 5vh;
      margin: 0 0.5vw;
    }
  }
}
